<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WhirlyMapDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>434769D11C0C77EC002346EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>434769EA1C0C77ED002346EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>434769F51C0C77ED002346EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
